.bg-body {
  background-image: url("../../../assets/image/home-background.png");
  background-size: cover;
  min-height: 100vh;
}

.bg-logo {
  background-image: url("../../../assets/image/game-board-logo.png");
  background-size: cover;
  background-size: 250px;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 250px;
}
.btn {
  border-radius: 30px;
  font-size: larger;
}
.bg-menu {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    51deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(119, 99, 10, 1) 26%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 35px;
}
.homepage {
  &__langues {
    &__flag {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
}
