.board {
  border-style: solid;
  border-width: 3px;
  overflow: hidden;
  &__box {
    height: 10vh;
    overflow: hidden;
    &__white {
      background-color: white;
    }

    &__black {
      background-color: black;
    }

    &__green {
      background-color: green;
    }
  }

  &__bg-image {
    background-image: url("../../../assets/image/background.jpg") !important;
    min-height: 100vh;
  }

  @media screen and (max-width:768px) {
    &__stone{
      background-size: 8vw 10vh!important;
      margin-left: -10px!important;
    }
  }
  @media screen and (max-width:400px) {
    &__stone{
      margin-left: -5px!important;
    }
  }

  &__stone {
    display: block;
    width: 130%;
    height: 100%;
    margin-left: -15px;
    background-size: 6vw 10vh;  
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;

    &__red {
      background-image: url("../../../assets/image/stone-red.png") !important;
    }
    
    &__green {
      background-image: url("../../../assets/image/stone-red-and-green.png") !important;
    }

    &__blue {
      background-image: url("../../../assets/image/stone-blue.png") !important;
    }

    &__yellow {
      background-image: url("../../../assets/image/stone-yellow-and-blue.png") !important;
    }
  }
}
