.board {
  border-style: solid;
  border-width: 3px;
  overflow: hidden;
  &__box {
    width: 15vw;
    height: 10vh;
    overflow: hidden;
    text-overflow: ellipsis;
    &__white {
      background-color: white;
    }

    &__black {
      background-color: black;
    }

    &__green{
      background-color: green;
    }
  }
}
.row{
  max-height: 8vw!important;
}
.bg-image{
  background-image: url("../../../assets/image/background.jpg")!important;
  min-height: 100vh;
}