<div class="m-auto bg-color shadow-lg p-3">
    <div class="row w-100 m-auto pl-3">
        <a [routerLink]="[ '/game/5/3']">
            <div class="btn btnSelection">
                <i class="fas fa-bahai"></i>
                <p>{{ 'Easy' | translate }}</p>
            </div>
        </a>
        <a [routerLink]="[ '/game/7/5']">
            <div class="btn ml-1 btnSelection">
                <i class="fas fa-angry"></i>
                <p>{{ 'Medium' | translate }}</p>
            </div>
        </a>
        <a [routerLink]="[ '/game/9/10']">
            <div class="btn ml-1 btnSelection">
                <i class="fas fa-biohazard "></i>
                <p>{{ 'Hard' | translate }}</p>
            </div>
        </a>
        <a (click)="creativeFormToggle()">
            <div class="btn ml-1 btnSelection">
                <i class="fas fa-plus-circle"></i>
                <p>{{ 'Creative' | translate }}</p>
            </div>
        </a>
    </div>
    <div class="pt-3">
        <form *ngIf="creativeFormShowHide">
            <div class="row">
                <div class="col-6 form-group">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'Board Size' | translate }}</mat-label>
                        <select matNativeControl name="BoardSize" #BoardSize="ngModel" [(ngModel)]="_model.BoardSize"
                            required>
                            <option value="5">5x5</option>
                            <option value="6">6x6</option>
                            <option value="7">7x7</option>
                            <option value="8">8x8</option>
                            <option value="9">9x9</option>
                        </select>
                        <mat-error *ngIf="BoardSize.invalid&&BoardSize.touched">
                            {{ 'Choose board size' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 form-group">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'Stone Count' | translate }}</mat-label>
                        <input matInput type="text" placeholder="{{ 'Enter Stone Count' | translate }}" pattern="^[3-9]"
                            name="BoardStoneCount" #BoardStoneCount="ngModel" [(ngModel)]="_model.BoardStoneCount"
                            required>
                        <mat-error *ngIf="BoardStoneCount.invalid&&BoardStoneCount.touched">
                            {{ 'Stone Count field must be filled' | translate }}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 form-group">
                    <a class="btn btnGame btn-warning border mt-3 w-100"><i class="far fa-play-circle"></i>
                        {{ 'Start Game' | translate }}</a>
                </div>
            </div>
        </form>
    </div>
</div>