.selection{
  &__bg-color {
    background-color: rgb(230, 133, 42);
    border: solid 2px white;
  }
  @media screen and (max-width:576px){
    &__bg-color{
      max-width: 255px;
    }
    &__form-inputs{
      max-width: 210px;
    }
  }
  @media screen and (min-width:577px){
    &__bg-color{
      min-width: 460px;
    }
  }
  &__btnSelection {
    background-color: rgb(235, 131, 28);
    height: 75px;
    width: 85px;
    border: solid 1px gray;
    &:hover {
      background-color: rgb(255, 136, 16);
    }
  }
  &__btnGame {
    border-radius: 30px;
    font-size: larger;
    background-color: rgb(14, 184, 14);
    &:hover {
      background-color: green;
    }
  }
  &__p-tag{
    font-size: medium;
    color: white;
  }
}
.fas {
	font-size: 40px;
}
.fa-bahai {
	color: rgb(252, 193, 0);
}
.fa-angry {
	color: rgb(11, 153, 219);
}
.fa-biohazard {
	color: blueviolet;
}
.fa-plus-circle {
	color: rgb(29, 199, 29);
}

