<div class="m-auto bg-color shadow-lg p-3">
    <div class="row w-100 m-2">
        <div class="btn btnSelection">
            <i class="fas fa-bahai"></i>
            <p><a>{{ 'Easy' | translate }}</a></p>
        </div>
        <div class="btn ml-1 btnSelection">
            <i class="fas fa-angry"></i>
            <p><a>{{ 'Medium' | translate }}</a></p>
        </div>
        <div class="btn ml-1 btnSelection">
            <i class="fas fa-biohazard "></i>
            <p><a>{{ 'Hard' | translate }}</a></p>
        </div>
        <div class="btn ml-1 btnSelection">
            <i class="fas fa-plus-circle"></i>
            <p><a>{{ 'Creative' | translate }}</a></p>
        </div>
    </div>
    <div class="col-12 pt-3">
        <form>
            <div class="form-group">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'Board Size' | translate }}</mat-label>
                    <select matNativeControl name="BoardSize" #BoardSize="ngModel" [(ngModel)]="_model.BoardSize"
                        required>
                        <option>5</option>
                        <option>7</option>
                        <option>9</option>
                    </select>
                    <mat-error *ngIf="BoardSize.invalid&&BoardSize.touched">
                        {{ 'Choose board size' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{ 'Stone Count' | translate }}</mat-label>
                    <input matInput type="text" placeholder="{{ 'Enter Stone Count' | translate }}" pattern="^[3-9]"
                        name="BoardStoneCount" #BoardStoneCount="ngModel" [(ngModel)]="_model.BoardStoneCount" required>
                    <mat-error *ngIf="BoardStoneCount.invalid&&BoardStoneCount.touched">
                        {{ 'Stone Count field must be filled' | translate }}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <a class="btn btnGame btn-warning border mt-3 w-100"><i class="far fa-play-circle"></i>
                    {{ 'Start Game' | translate }}</a>
            </div>
        </form>
    </div>
</div>