<div class="m-auto selection__bg-color shadow-lg p-3" id="container">
    <div class="row m-auto">
        <div class="col-sm-3 col-6 selection__box selection__mb">
            <a [routerLink]="[ '/game/5/3']">
                <div class="btn selection__btnSelection">
                    <i class="fas fa-bahai"></i>
                    <p class="selection__p-tag">{{ 'Easy' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-sm-3 col-6 selection__box selection__mb">
            <a [routerLink]="[ '/game/7/5']">
                <div class="btn selection__btnSelection">
                    <i class="fas fa-angry"></i>
                    <p class="selection__p-tag">{{ 'Medium' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-sm-3 col-6 selection__box">
            <a [routerLink]="[ '/game/9/10']">
                <div class="btn selection__btnSelection">
                    <i class="fas fa-biohazard "></i>
                    <p class="selection__p-tag">{{ 'Hard' | translate }}</p>
                </div>
            </a>
        </div>
        <div class="col-sm-3 col-6 selection__box">
            <a (click)="creativeFormToggle()">
                <div class="btn selection__btnSelection">
                    <i class="fas fa-plus-circle"></i>
                    <p class="selection__p-tag">{{ 'Creative' | translate }}</p>
                </div>
            </a>
        </div>
    </div>
    <div>
        <form *ngIf="creativeFormShowHide" #creativeForm='ngForm' (ngSubmit)="onSubmit(creativeForm)" class=" mt-4">
            <div class="row mt-3 selection__form-inputs m-auto">
                <div class="col-sm-6 col-12 mb-2 form-group">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'Board Size' | translate }}</mat-label>
                        <select matNativeControl #BoardSize="ngModel" [(ngModel)]="_model.BoardSize"
                            (change)='onSelectBoardSize(BoardSize.value)' name="BoardSize" required>
                            <option value="5">5x5</option>
                            <option value="6">6x6</option>
                            <option value="7">7x7</option>
                            <option value="8">8x8</option>
                            <option value="9">9x9</option>
                        </select>
                        <mat-error *ngIf="BoardSize.invalid&&BoardSize.touched">
                            {{ 'Choose board size' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-sm-6 col-12 mb-2 form-group">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>{{ 'Number of Stone' | translate }}</mat-label>
                        <select matNativeControl #StoneCount="ngModel" name="StoneCount" [(ngModel)]="_model.StoneCount"
                            required>
                            <option *ngFor="let item of stoneNumbers" [value]="item">
                                {{ item }}
                            </option>
                        </select>
                        <mat-error *ngIf="BoardSize.invalid&&BoardSize.touched">
                            {{ 'The number of stones should be chosen' | translate }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 form-group">
                    <button type="submit" class="btn btnGame btn-warning border mt-3 w-100"><i
                            class="far fa-play-circle"></i>
                        {{ 'Start Game' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>