<div class="row bg-menu p-3 pb-5">
    <div class="bg-logo rounded-circle col-8 m-auto"></div>
    <div class="col-12">
        <a class="btn btn-warning border w-100 mt-3" (click)="singlePlayerSubmit()"><i class="far fa-play-circle"></i>
            {{ 'Single Player' | translate }}</a>
        <a class="btn btn-warning border w-100 mt-3"><i class="fas fa-user-friends"></i>
            {{ 'Two Players' | translate }}</a>
    </div>
    <div class="mx-auto d-inline mt-5">
        <a (click)="useLanguage('tr')" class="mr-4">
            <i class="flag-icon flag-icon-tr homepage__langues__flag rounded-circle"></i>
        </a>
        <a (click)="useLanguage('en')">
            <i class="flag-icon flag-icon-us homepage__langues__flag rounded-circle"></i>
        </a>
    </div>
</div>