<ng-container *ngIf="readyControl; then readyScreen else multiplayerScreen"></ng-container>
<ng-template #multiplayerScreen>
    <div class="row h-100 multiplayer__bg">
        <button class="back-btn pr-2 py-1 text-center" [routerLink]="['']"><i
                class="fas fa-arrow-circle-left"></i>{{'Back' | translate }}</button>
        <div class="row m-auto multiplayer__center">
            <div class="m-auto multiplayer__icon bg-success border rounded-circle">
                <i class="fas fa-people-arrows"></i>
            </div>
            <a class="btn btn-success border w-100 mt-3 ml-2 multiplayer__btn" (click)="ready()">
                <i class="far fa-check-circle"></i>
                {{ 'Ready' | translate }}</a>
        </div>
    </div>
</ng-template>
<ng-template #readyScreen>
    <div class="row h-100 multiplayer__ready bg-secondary">
        <div class="row m-auto multiplayer__text text-light font-weight-bolder">
            <div class="col-12 text-center">{{ 'Waiting for Other Player' | translate }}...</div>
            <div class="col-12  d-flex justify-content-center"><button class="btn-cancel bg-danger text-center px-3 py-2"
                    (click)="notReady()"><i class="fas fa-dot-circle mr-2"></i>{{'Cancel' | translate }}</button></div>

        </div>

    </div>
</ng-template>