<mat-dialog-content class="mat-typography endGame-dialog endGame-dialog__content">
    <div class="row p-3 pb-5 w-100">
        <div class="endGame-dialog__logo rounded-circle col-sm-8 col-12 m-auto"></div>
        <div class="col-12">
            <ng-container *ngIf="control; then won else lost"></ng-container>
        <ng-template #lost>
            <div class="m-auto endGame-dialog__control endGame-dialog__control__lost">{{'You Lost !' | translate}}</div>
        </ng-template>
        <ng-template #won>
            <div class="m-auto endGame-dialog__control endGame-dialog__control__won">{{'You Won !' | translate}}</div>
        </ng-template>
            <a [mat-dialog-close]="true" class="btn btn-warning border w-100 endGame-dialog__btn"><i class="far fa-play-circle"></i>
                {{ 'Play Again' | translate }}</a>
            <a [mat-dialog-close]="false" class="btn btn-warning border w-100 mt-3 endGame-dialog__btn" [routerLink]="['']"><i class="fas fa-home"></i>
                {{ 'Main Menu' | translate }}</a>
        </div>
    </div>
    <div class="w-100 h-100 bg-secondary endGame-dialog__back-container"></div>
</mat-dialog-content>
