.endGame-dialog {
  &__content {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      51deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(119, 99, 10, 1) 26%,
      rgba(0, 212, 255, 1) 100%
    );
  }

  &__logo {
    background-image: url("../../../assets/image/game-board-logo.png");
    background-size: cover;
    background-size: 180px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 250px;
  }

  &__btn {
    border-radius: 30px;
    font-size: larger;
  }
}
