    .bg-image{
    min-height: 100vh;
    background-image: url("../../../assets/image/home-background.png");
    background-size: cover;
    }
    .bg-color{
        background-color: rgb(230, 133, 42);
        border:solid 2px white;
    }
    .btnSelection{
        background-color: rgb(235, 131, 28);
        height: 80px;
        width: 80px;
        border:solid 1px gray; 
    }
    .btnSelection:hover{
        background-color:rgb(255, 136, 16) ;
    }
    .fas{
        font-size: 50px;
    }
    .fa-bahai{
        color: rgb(252, 193, 0);
    }
    .fa-angry{
        color: rgb(11, 153, 219);
    }
    .fa-biohazard{
        color: blueviolet;
    }
    .fa-plus-circle{
        color: rgb(29, 199, 29);
    }
    .btnGame{
        border-radius: 30px;
        font-size: larger;
        background-color: rgb(14, 184, 14);
    }
    .btnGame:hover{
        background-color: green;
    }